body
{
	font-size:14px;
	font-family:Verdana;
	margin:0 auto;
	text-align:center;
	line-height:22px;
}

#content
{
	width:900px;
	margin:0 auto;
}

#header
{
	width:100%;
	text-align:left;
	margin-top:20px;
}

#main
{
	margin-top:20px;
}

#header #logo
{
	height:30px;
	font-size:32px;
	float:left;
}

#header .search_box
{
	float:left;
	width:500px;
	margin-left:10px;
	height:30px;
	border:#000 solid 1px;
}

#header .search_button
{
	float:left;
	margin-left:5px;
	width:100px;
	height:30px;
	border:#000 solid 1px;
	color:#000;
	background-color:#CCC;
}

.paper
{
	float:left;
	margin-top:5px;
	width:100%;
}
.paper .title
{
	width:100%;
	float:left;
	margin-left:1px;
}
.paper .author
{
	font-size:13px;
	color:#555;
	float:left;
	padding-right:5px;
}