body
{
	font-size:13px;
	font-family:Verdana;
	margin:0 auto;
	text-align:center;
	line-height:20px;
	color:#003E6E;
}

#content
{
	width:900px;
	margin:0 auto;
	margin-bottom:20px;
}
#toolbar
{
	width:100%;
	float:left;
	margin-top:5px;
	margin-bottom:10px;
}
.feedback a
{
	cursor:pointer;
	text-decoration:none;
}
#header
{
	width:100%;
	text-align:left;
	float:left;
}
#paper0
{
	width:100%;
	float:left;
}
#main
{
	margin-top:10px;
	text-align:left;
	width:73%;
	float:left;
}
#main form, #main span
{
	width:100%;
	float:left;
	line-height:24px;
	padding:0px;
}

.login, #intro
{
	width:48%;
	float:left;
	margin-top:30px;
	text-align:left;
}

.login span
{
	float:left;
	font-size:15px;
	line-height:30px;
	width:150px;
	height:30px;
	margin-top:5px;
	text-align:right;
}

.login .textinput
{
	width:240px;
	height:32px;
	float:left;
	line-height:30px;
	margin-top:5px;
}

.login .button
{
	border:#333 solid 1px;
	width:100px;
	height:30px;
	float:left;
	margin-left:290px;
	margin-top:5px;
}

#side
{
	width:26%;
	float:left;
	margin-left:1%;
	text-align:left;
	margin-top:10px;
}

#header #logo
{
	height:30px;
	font-size:32px;
	float:left;
	font-weight:bold;
	width:200px;
}

#header .search_box
{
	float:left;
	width:500px;
	height:30px;
	border:#000 solid 1px;
	font-size:14px;
}

#header .search_button
{
	float:left;
	margin-left:5px;
	width:100px;
	height:30px;
	border:#000 solid 1px;
	color:#000;
	background-color:#CCC;
}

#paper_more 
{
	width:100%;
	float:left;
	text-align:left;
	display:none;
}
.paper,.related_author
{
	float:left;
	width:95%;
	margin-left:2%;
	padding:2px;
}
.paper
{
	margin-bottom:10px;
}
.paper .title
{
	width:100%;
	float:left;
	margin-left:1px;
	font-weight:bold;
}
.paper .title a
{
	text-decoration:none;
	font-size:14px;
	color:#1F81CD;
}
.paper .info
{
	color:#777;
	font-size:12px;
}
.paper .info a
{
	color:#777;
	font-size:12px;
}

.feedback
{
	width:100%;
	float:left;
	font-size:16px;
}
#main .author
{
	float:left;
	padding-right:5px;
	color:#777;
}
#main .author a
{
	font-size:11px;
}
#side .author
{
	float:left;
	width:100%;
}
a
{
	color:#1F81CD;
}
#main a
{
	font-size:12px;
}
h2
{
	width:100%;
	float:left;
	font-size:14px;
	font-weight:bold;
	line-height:32px;
	height:32px;
	margin-top:10px;
	padding:0px;
}
#foot
{
	clear:both;
	width:100%;
	height:20px;
	margin-top:30px;
	margin-bottom:30px;
}