body
{
	font-size:13px;
	font-family:Verdana;
	margin:0 auto;
	text-align:center;
	line-height:22px;
}

#content
{
	width:900px;
	margin:0 auto;
	margin-bottom:20px;
}

#header
{
	width:100%;
	text-align:left;
	margin-top:20px;
}

#main
{
	margin-top:10px;
	text-align:left;
	width:77%;
	float:left;
}

#side
{
	width:22%;
	float:left;
	margin-left:1%;
	text-align:left;
	margin-top:10px;
}

#header #logo
{
	height:30px;
	font-size:32px;
	float:left;
}

#header .search_box
{
	float:left;
	width:500px;
	margin-left:10px;
	height:30px;
	border:#000 solid 1px;
	font-size:14px;
}

#header .search_button
{
	float:left;
	margin-left:5px;
	width:100px;
	height:30px;
	border:#000 solid 1px;
	color:#000;
	background-color:#CCC;
}

.paper,.related_author
{
	float:left;
	width:95%;
	margin-left:2%;
}
.paper
{
	margin-bottom:10px;
}
.paper .title
{
	width:100%;
	float:left;
	margin-left:1px;
	font-weight:bold;
}
#main .author
{
	float:left;
	padding-right:5px;
	color:#888;
}
#main .author a
{
	font-size:11px;
}
#side .author
{
	float:left;
	width:100%;
}
a
{
	color:#0096e0;
}
#main a
{
	font-size:12px;
}
h2
{
	width:100%;
	float:left;
	font-size:14px;
	font-weight:bold;
	line-height:32px;
	height:32px;
	margin-top:10px;
	padding:0px;
}